= form_for :orphanage, :url=>{:action => 'change_secret_password'} do |f|
  .field
    = label_tag "new_password"
    = password_field_tag "new_password"
  .field
    = label_tag "confirmed_new_password"
    = password_field_tag "confirmed_new_password"
  .actions
    = submit_tag 'Save'
