%h1 Listing orphanages
= paginate @orphanages
%table
  %tr
    %th Name
    %th Address
    %th City
    %th Nature
    %th Manager Name
    %th Account Details
    %th Contact Number
    %th Email
    %th Admin Verified
    %th
    %th
    %th

  - @orphanages.each do |orphanage|
    %tr
      %td= orphanage.name
      %td= orphanage.address
      %td= orphanage.city
      %td= orphanage.nature
      %td= orphanage.manager_name
      %td= orphanage.account_details
      %td= orphanage.contact_number
      %td= orphanage.email
      %td= orphanage.admin_verified
      %td= link_to 'Show', orphanage

%br

= link_to 'New Orphanage', new_orphanage_path
