= form_tag orphanages_path, :method => :get do
  .field
    = label_tag "admin_verified"
    %br
    = check_box_tag "admin_verified", true, params[:admin_verified] || false
  .field
    = label_tag "city"
    %br
    = collection_select("", "city_name", ["All"] + CityList.all, :to_s, :to_s, :selected => params[:city_name] || "All")
  .actions
    = submit_tag "Refine"
    = link_to "Clear", orphanages_path

%h1 Listing orphanages
= paginate @orphanages
%table.sortable-table
  %tr
    %th= sortable "name", "Name"
    %th= sortable "address", "Address"
    %th= sortable "city", "City"
    %th= sortable "nature", "Nature"
    %th= sortable "manager_name", "Manager Name"
    %th= sortable "account_details", "Account Details"
    %th= sortable "contact_number", "Contact Number"
    %th= sortable "email", "Email"
    %th= sortable "admin_verified", "Admin Verified"
    %th
    %th
    %th

  - @orphanages.each do |orphanage|
    %tr
      %td= orphanage.name
      %td= orphanage.address
      %td= orphanage.city
      %td= orphanage.nature
      %td= orphanage.manager_name
      %td= orphanage.account_details
      %td= orphanage.contact_number
      %td= orphanage.email
      %td= orphanage.admin_verified
      %td= link_to 'Show', orphanage

%br

= link_to 'New Orphanage', new_orphanage_path
