%section.container
  .span12
    %h1 Listing needs
    = form_tag needs_path, :method => :get, :class => [:well, :'form-inline'] do
      %label{:for => "severity_type", :class => :checkbox}
        Severity
        = collection_select("", "severity_type", ["All"] + SeverityList.all, :to_s, :to_s, :selected => params[:severity_type] || "All")
      = submit_tag "Refine", :class => [:btn, :'btn-primary']
      = link_to "Clear", needs_path, :class => :btn

  .container
    .span12
      .page-nav
        = paginate @needs

  .container
    .span12
      #needs-list.container
        - @needs.each do |need|
          .need.well{:class => need.status}
            .nature
              Need Type:
              = need.nature
            .deadline
              Deadline:
              = I18n.l need.deadline, :format => :deadline
            .severity
              = need.severity
            .description
              = link_to need.description, orphanage_need_path(:orphanage_id => need.orphanage_id, :id => need.id)