= form_tag needs_path, :method => :get do
  .field
    = label_tag "severity_type"
    %br
    = collection_select("", "severity_type", ["All"] + SeverityList.all, :to_s, :to_s, :selected => params[:severity_type] || "All")
  .actions
    = submit_tag "Refine"
    = link_to "Clear", needs_path

= "Got #{@needs.count} needs"
%h1 Listing needs
= paginate @needs

%table.sortable-table
  %tr
    %th= sortable "description", "Description"
    %th= sortable "nature", "Nature"
    %th= sortable "severity", "Severity"
    %th= sortable "deadline", "Deadline"
    %th= sortable "status", "Status"
    %th
    %th
    %th

  - @needs.each do |need|
    %tr
      %td= need.description
      %td= need.nature
      %td= need.severity
      %td= need.deadline
      %td= need.status
      %td= link_to 'Show', orphanage_need_path(:orphanage_id => need.orphanage_id, :id => need.id)
