%section.container
  %h2 Need Details
  #needs-list.container
    .need{:class => @need.status}
      .need-info
        .nature
          Need Type:
          = @need.nature
        .deadline
          Deadline:
          = I18n.l @need.deadline, :format => :deadline
        .severity
          = @need.severity
        .description
          = @need.description
        .orphanage
          %h4 Orphanage Detail
          %h5= @need.orphanage.name
          %p= @need.orphanage.nature
          %p= @need.orphanage.city
          %p= @need.orphanage.contact_number
          %p
            %span Verified?
            = @need.orphanage.admin_verified

%section.container
  .btn-toolbar
    .btn-group
      = link_to 'Back', orphanage_needs_path(:orphanage_id => @need.orphanage_id), :class => :btn
      = link_to 'Edit', edit_orphanage_need_path(:id => @need.id, :orphanage_id => @need.orphanage_id), :class => :btn
      = link_to 'Close Need', close_orphanage_need_path(:id => @need.id, :orphanage_id => @need.orphanage_id), :class => :btn
      = link_to 'Destroy', orphanage_need_path(:id => @need.id, :orphanage_id => @need.orphanage_id), :confirm => 'Are you sure?', :method => :delete, :class => :btn

%section.container
  %h2 Comments
  = render @need.comments

  .well
    %h3 Add a comment:
    = render "comments/form"

