Hi, 

%br
="Thank you for registering your care taking home #{@orphanage.name} in our website. Below is the secret password which you should provide to do further actions on this care taking home."

%br
= "Secret Password: #{@orphanage.secret_password}"

= "Please click the url below to register your care taking home. If, not registered, all your data will be removed after a week."

= "#{root_url}orphanages/#{@orphanage.id}/register?registration_password=#{@orphanage.registration_password}"
%br
%br
Thanks
%br
Ucanhelp Admin