%html
  %head
    %title Ucanhelp
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    = link_to "Home", root_path
    = link_to "Orphanages", orphanages_path
    = link_to "Needs", needs_path
    - if logged_in
      = link_to "LogOut", login_logout_path
    - else
      = link_to "Login", login_path
    %p#notice= notice
    
  = yield